# Exporter

Dans les cours précédents, nous avons transformé nos DataFrames pour comprendre la donnée. Nous pouvons exporter nos DataFrames dans des formats que nous pourrons partager ou utiliser les données pour créer des graphiques.

## Importer pandas

In [1]:
#import pandas
import pandas as pd

## Transformer le fichier en DataFrame

In [2]:
# transformer le fichier .csv en DataFrame, séprarateur ; et décimal ,
df = pd.read_csv('country_gdp_per_capita.csv', sep=';', decimal=',')

## Exporter au format csv

On peut exporter un DataFrame en csv avec la méthode `to_csv`.

In [4]:
#exporter avec des séparateur de ;
df.to_csv('export.csv', sep=';')

## Exporter au format Excel

On peut exporter un DataFrame en Excel avec la méthode `to_excel`.

In [7]:
#exporter au format Excel
df.to_excel('export.xlsx')

## Exporter au format JSON

On peut exporter un DataFrame au format JSON avec la méthode `to_json`.

In [11]:
#exporter au format json
df.to_json('export.json')

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Egypt,EGY,NaN,NaN,NaN,NaN,NaN,160.574737,166.956112,172.963857,...,3196.861381,3370.382447,3331.612461,2439.967284,2531.200079,3017.258336,3571.556907,3886.722498,4295.407496,NaN
1,Macao SAR,MAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90873.602490,73220.635560,71919.054920,78896.274750,84779.453690,82998.636100,37474.734590,45104.892180,34584.859090,NaN
2,Hong Kong SAR,HKG,424.056554,436.754412,487.821134,565.727810,629.591526,676.805507,685.926614,723.239226,...,40315.373950,42432.161970,43734.198070,46160.429790,48537.566890,48359.001200,46109.229990,49764.793120,48983.621720,NaN
3,Korea,PRK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Congo,COD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,472.266236,482.064569,456.027951,451.089089,546.212593,575.882781,524.666686,576.974729,653.656223,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Samoa,WSM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3948.728022,4048.467113,4105.810905,4261.640343,4189.052191,4308.300729,4042.722752,3857.689742,3745.560367,NaN
262,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3902.530841,3520.782075,3759.472855,4009.353811,4384.188680,4416.029253,4310.934002,5269.783901,5340.268798,NaN
263,South Africa,ZAF,529.561923,543.042224,560.699395,601.599951,642.688431,681.131111,718.118179,775.152812,...,6965.137897,6204.929901,5735.066787,6734.475153,7067.724165,6702.526617,5753.066494,7073.612754,6766.481254,NaN
264,Zambia,ZMB,228.567398,216.274674,208.562685,209.453362,236.941713,296.022427,334.672528,350.653425,...,1724.576220,1307.909649,1249.923143,1495.752138,1475.199883,1268.120941,956.831729,1134.713454,1456.901570,NaN
265,Zimbabwe,ZWE,276.643363,279.332656,275.966139,277.532515,282.376856,294.893605,279.337779,295.056449,...,1407.034291,1410.329173,1421.787791,1192.107012,2269.177012,1421.868596,1372.696674,1773.920411,1676.821489,NaN