# Manipulation de données

Dans cette section, nous allons manipuler des données sur le PIB du fichier `country_gdp_per_capita.csv`.

Ces données proviennent de https://data.worldbank.org/indicator/NY.GDP.MKTP.CD.

Nous allons commencer pour ouvrir le fichier pour comprendre comment il est organisé.

In [42]:
#importer pandas
import pandas as pd

## read_csv
La méthode `read_csv` permet de transformer un fichier `.csv` en DataFrame. Elle comporte de nombreux arguments qui doivent être utilisés selon le format du fichier.

La documentation officielle est ici : 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [43]:
# transformer le fichier .csv en DataFrame, séprarateur ; et décimal ,
df = pd.read_csv('country_gdp_per_capita.csv', sep=';', decimal=',')

## read_excel

La méthode `read_excel` permet de transformer un fichier `Excel` en DataFrame. Elle comporte de nombreux arguments qui doivent être utilisés selon le format du fichier.

La documentation officielle est ici : 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [44]:
# transformer le fichier .xlsx en DataFrame
df_metadata = pd.read_excel('metadata_country.xlsx')

## head and tail

La méthode head/tail permet de voir les premières/dernières lignes du DataFrame. Elle est très utile pour avoir un aperçu du DataFrame.

In [45]:
#10 premières lignes
df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,26940.264110,28419.264530,28449.712950,29329.081750,30918.483580,31902.809820,24008.127820,29127.759380,33300.838820,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,"141,3859554",144.342434,148.774835,157.047580,166.849791,177.769086,...,1725.332959,1554.167299,1444.003514,1625.286236,1558.307482,1507.982881,1355.805923,1545.613215,1644.062829,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,"62,36937451",62.443703,60.950364,82.021738,85.511073,105.243196,...,626.512931,566.881133,523.053012,526.140801,492.090632,497.741429,512.055098,355.777826,NaN,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,"107,0537061",112.128417,117.814663,122.370114,130.700278,137.301801,...,2248.316255,1882.264038,1648.762676,1590.277754,1735.374911,1812.446822,1688.075575,1766.943618,1785.312219,NaN
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5011.984412,3217.339244,1809.709377,2439.374441,2540.508878,2191.347764,1450.905112,1927.474078,3000.444231,NaN
5,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4578.633208,3952.803574,4124.055390,4531.032207,5287.660801,5396.214243,5343.037704,6377.203096,6810.114041,NaN
6,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,45680.546940,38885.548590,39931.236260,40632.208980,42904.811590,41328.612390,37207.238870,42072.319420,41992.772780,NaN
7,Arab World,ARB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7306.051166,6287.314935,6117.871507,6230.762079,6579.417105,6504.789633,5644.142570,6419.161029,7625.252464,NaN
8,United Arab Emirates,ARE,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,46865.964600,41525.138900,41054.539570,43063.967480,46722.268720,45376.170840,37629.174170,44332.340050,53707.980080,NaN
9,Argentina,ARG,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,12334.798250,13789.060420,12790.264140,14613.035650,11795.162750,9963.674162,8500.837939,10650.860460,13650.604630,NaN

In [46]:
# 5 dernières lignes
df.tail(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
261,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3902.530841,3520.782075,3759.472855,4009.353811,4384.188680,4416.029253,4310.934002,5269.783901,5340.268798,NaN
262,Yemen,Rep.,YEM,GDP per capita (current US$),"NY,GDP,PCAP,CD",NaN,NaN,NaN,NaN,NaN,...,1497.747941,1557.601406,1488.416269,1069.816998,893.716494,701.714869,693.816504,578.512010,543.637538,650.272218
263,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,"529,5619227",543.042224,560.699395,601.599951,642.688431,681.131111,...,6965.137897,6204.929901,5735.066787,6734.475153,7067.724165,6702.526617,5753.066494,7073.612754,6766.481254,NaN
264,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,"228,5673985",216.274674,208.562685,209.453362,236.941713,296.022427,...,1724.576220,1307.909649,1249.923143,1495.752138,1475.199883,1268.120941,956.831729,1134.713454,1456.901570,NaN
265,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,"276,6433633",279.332656,275.966139,277.532515,282.376856,294.893605,...,1407.034291,1410.329173,1421.787791,1192.107012,2269.177012,1421.868596,1372.696674,1773.920411,1676.821489,NaN

## dtypes

La méthode `dtypes` donne des informations sur le type de données des colonnes.

In [47]:
# types des colonnes
df.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960               object
                   ...
2019              float64
2020              float64
2021              float64
2022              float64
2023              float64
Length: 68, dtype: object

## columns

La méthode `columns` renvoie le nom des colonnes

In [48]:
#nom des colonnes
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

## describe

La méthode `describe` permet d'obtenir les statistiques descriptives des colonnes numériques.

In [49]:
# statistiques descriptives
df.describe()

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
count,127.000000,128.000000,128.000000,128.000000,139.000000,142.000000,146.000000,151.000000,151.000000,160.000000,...,260.000000,259.000000,258.000000,258.000000,258.000000,259.000000,258.000000,256.000000,243.000000,11.000000
mean,502.976697,520.404631,553.468201,604.577825,673.803865,731.469716,745.022845,760.151280,820.672635,996.443665,...,17064.380632,15521.545235,15768.631337,16523.962131,17507.516485,17445.304475,16426.998650,18233.275300,18049.821164,14989.974736
std,651.694280,684.418041,727.363933,793.862993,874.272171,948.220722,979.174039,1006.423120,1083.502348,1493.251714,...,25905.040269,23524.477663,23699.741977,24412.973978,26002.720821,25805.132404,24825.628280,28549.377752,27221.317318,17964.502908
min,27.274630,27.953179,25.807010,17.331833,15.113227,11.792676,16.523528,21.500298,21.450314,20.655084,...,257.818557,289.359627,242.539527,244.145422,232.060617,216.972971,216.827417,221.157803,259.025031,650.272218
25%,107.718713,111.533599,112.351406,119.885298,139.029272,145.356579,139.935403,148.595671,150.691255,186.882516,...,2157.278578,2074.992015,2095.783356,2116.826848,2191.952298,2214.933292,2160.593455,2322.371311,2337.056150,1728.751652
50%,191.907441,188.794331,207.681429,223.273188,243.130560,253.550917,249.467378,264.227758,282.681600,326.386292,...,6904.585574,6204.929901,6108.914305,6443.380323,6929.960914,6955.880824,6188.234459,7151.905796,7182.265382,4295.407496
75%,555.974983,574.788985,603.571809,675.387740,784.041552,884.721621,857.226487,798.869953,876.480505,1014.516177,...,20314.151055,18168.196055,18688.787610,20264.313790,22054.135130,21649.089570,19460.492775,21139.835847,20831.155720,31940.437650
max,3066.562869,3243.843078,3374.515171,3573.941185,4081.424492,4228.745371,4336.426587,4695.923390,5032.144743,12077.764040,...,195772.724300,170338.680400,174412.494500,173611.687900,193968.090100,199382.838600,182537.387400,235132.784200,240862.182400,48983.621720

## set_index

La méthode `set_index` permet de changer l'index.

In [50]:
# l'index est la colonne Country Name, on garde la colonne avec drop = False
df.set_index(["Country Name"],drop=False)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,26940.264110,28419.264530,28449.712950,29329.081750,30918.483580,31902.809820,24008.127820,29127.759380,33300.838820,NaN
Africa Eastern and Southern,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,"141,3859554",144.342434,148.774835,157.047580,166.849791,177.769086,...,1725.332959,1554.167299,1444.003514,1625.286236,1558.307482,1507.982881,1355.805923,1545.613215,1644.062829,NaN
Afghanistan,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,"62,36937451",62.443703,60.950364,82.021738,85.511073,105.243196,...,626.512931,566.881133,523.053012,526.140801,492.090632,497.741429,512.055098,355.777826,NaN,NaN
Africa Western and Central,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,"107,0537061",112.128417,117.814663,122.370114,130.700278,137.301801,...,2248.316255,1882.264038,1648.762676,1590.277754,1735.374911,1812.446822,1688.075575,1766.943618,1785.312219,NaN
Angola,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5011.984412,3217.339244,1809.709377,2439.374441,2540.508878,2191.347764,1450.905112,1927.474078,3000.444231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3902.530841,3520.782075,3759.472855,4009.353811,4384.188680,4416.029253,4310.934002,5269.783901,5340.268798,NaN
Yemen,Yemen,Rep.,YEM,GDP per capita (current US$),"NY,GDP,PCAP,CD",NaN,NaN,NaN,NaN,NaN,...,1497.747941,1557.601406,1488.416269,1069.816998,893.716494,701.714869,693.816504,578.512010,543.637538,650.272218
South Africa,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,"529,5619227",543.042224,560.699395,601.599951,642.688431,681.131111,...,6965.137897,6204.929901,5735.066787,6734.475153,7067.724165,6702.526617,5753.066494,7073.612754,6766.481254,NaN
Zambia,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,"228,5673985",216.274674,208.562685,209.453362,236.941713,296.022427,...,1724.576220,1307.909649,1249.923143,1495.752138,1475.199883,1268.120941,956.831729,1134.713454,1456.901570,NaN
Zimbabwe,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,"276,6433633",279.332656,275.966139,277.532515,282.376856,294.893605,...,1407.034291,1410.329173,1421.787791,1192.107012,2269.177012,1421.868596,1372.696674,1773.920411,1676.821489,NaN

## reset_index

La méthode `reset_index` permet de redéfinir l'index numérique (de 0 à nombre de lignes -1).

In [51]:
#on redéfinit l'index et on garde l'ancien index comme une colonne avec drop = False
df.reset_index(drop=False)

,index,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,...,26940.264110,28419.264530,28449.712950,29329.081750,30918.483580,31902.809820,24008.127820,29127.759380,33300.838820,NaN
1,1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,"141,3859554",144.342434,148.774835,157.047580,166.849791,...,1725.332959,1554.167299,1444.003514,1625.286236,1558.307482,1507.982881,1355.805923,1545.613215,1644.062829,NaN
2,2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,"62,36937451",62.443703,60.950364,82.021738,85.511073,...,626.512931,566.881133,523.053012,526.140801,492.090632,497.741429,512.055098,355.777826,NaN,NaN
3,3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,"107,0537061",112.128417,117.814663,122.370114,130.700278,...,2248.316255,1882.264038,1648.762676,1590.277754,1735.374911,1812.446822,1688.075575,1766.943618,1785.312219,NaN
4,4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,...,5011.984412,3217.339244,1809.709377,2439.374441,2540.508878,2191.347764,1450.905112,1927.474078,3000.444231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,261,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,...,3902.530841,3520.782075,3759.472855,4009.353811,4384.188680,4416.029253,4310.934002,5269.783901,5340.268798,NaN
262,262,Yemen,Rep.,YEM,GDP per capita (current US$),"NY,GDP,PCAP,CD",NaN,NaN,NaN,NaN,...,1497.747941,1557.601406,1488.416269,1069.816998,893.716494,701.714869,693.816504,578.512010,543.637538,650.272218
263,263,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,"529,5619227",543.042224,560.699395,601.599951,642.688431,...,6965.137897,6204.929901,5735.066787,6734.475153,7067.724165,6702.526617,5753.066494,7073.612754,6766.481254,NaN
264,264,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,"228,5673985",216.274674,208.562685,209.453362,236.941713,...,1724.576220,1307.909649,1249.923143,1495.752138,1475.199883,1268.120941,956.831729,1134.713454,1456.901570,NaN
265,265,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,"276,6433633",279.332656,275.966139,277.532515,282.376856,...,1407.034291,1410.329173,1421.787791,1192.107012,2269.177012,1421.868596,1372.696674,1773.920411,1676.821489,NaN

## sort_values

La méthode `sort_values` trie les données par ordre ascendant ou descendant.

In [52]:
# tri par ordre ascendant 
df.sort_values(by='2022', ascending=True)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
16,Burundi,BDI,GDP per capita (current US$),NY.GDP.PCAP.CD,"71,36022425",72.088782,73.942008,78.948269,85.964725,50.990420,...,257.818557,289.359627,242.539527,244.145422,232.060617,216.972971,216.827417,221.157803,259.025031,NaN
34,Central African Republic,CAF,GDP per capita (current US$),NY.GDP.PCAP.CD,"66,77009521",71.993203,71.439100,72.839829,78.393525,81.428270,...,394.856933,351.879755,372.135456,414.740322,435.932297,426.408753,435.469248,461.137511,427.058096,NaN
210,Sierra Leone,SLE,GDP per capita (current US$),NY.GDP.PCAP.CD,"139,9861255",140.098309,143.887993,143.690390,150.448578,142.635576,...,702.338588,581.293412,515.447840,484.456129,519.649964,506.606914,493.432241,504.621288,475.795728,NaN
151,Madagascar,MDG,GDP per capita (current US$),NY.GDP.PCAP.CD,"132,6702842",134.293094,138.362478,138.459331,142.536192,144.203832,...,517.136183,455.638035,464.616158,503.498059,512.543991,512.279666,462.404229,503.352081,516.592616,NaN
262,Yemen,Rep.,YEM,GDP per capita (current US$),"NY,GDP,PCAP,CD",NaN,NaN,NaN,NaN,NaN,...,1497.747941,1557.601406,1488.416269,1069.816998,893.716494,701.714869,693.816504,578.512010,543.637538,650.272218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Syrian Arab Republic,SYR,GDP per capita (current US$),NY.GDP.PCAP.CD,"186,0242872",198.934696,226.877838,237.936395,257.454145,247.714366,...,1071.234204,857.497867,664.341672,862.319063,1111.872092,1124.520554,537.090235,420.622705,NaN,NaN
239,Tonga,TON,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4125.425454,4117.931047,3978.437686,4367.256603,4649.613301,4878.978686,4605.970841,4425.971492,NaN,NaN
254,Venezuela,RB,VEN,GDP per capita (current US$),"NY,GDP,PCAP,CD",939.560806,954.355361,1006.879977,1060.570324,874.199411,...,12433.980790,15975.729380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,British Virgin Islands,VGB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Virgin Islands (U.S.),VIR,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,33045.364380,34007.352940,35324.974890,35365.069300,36663.208760,38633.529890,39411.045250,41976.008310,NaN,NaN

In [53]:
# tri par ordre descendant 
df.sort_values(by='2022', ascending=False)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
149,Monaco,MCO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,195772.724300,170338.680400,174412.494500,173611.687900,193968.090100,199382.838600,182537.387400,235132.784200,240862.1824,NaN
144,Luxembourg,LUX,GDP per capita (current US$),NY.GDP.PCAP.CD,"2242,015817",2222.366366,2311.798849,2441.038555,2755.633117,2780.092719,...,123678.702100,105462.012600,106899.293500,110193.213800,116786.511700,112726.439700,116905.370400,133711.794400,125006.0218,NaN
27,Bermuda,BMU,GDP per capita (current US$),NY.GDP.PCAP.CD,"1902,402085",1961.538135,2020.385929,2020.265212,2199.726968,2282.216573,...,98467.683990,102005.625600,106885.878500,111820.581500,113050.736900,116153.166100,107791.886400,111774.669100,118774.7907,NaN
177,Norway,NOR,GDP per capita (current US$),NY.GDP.PCAP.CD,"1441,75566",1560.324931,1667.247430,1775.582655,1937.884614,2164.468823,...,97666.695180,74809.965800,70867.361000,76131.838400,82792.842710,76430.588950,68340.018100,93072.892510,108729.1869,NaN
111,Ireland,IRL,GDP per capita (current US$),NY.GDP.PCAP.CD,"685,6147124",739.276406,797.006288,852.135302,965.135423,1023.773726,...,55752.764980,62179.264270,62784.065690,70150.737020,79446.939110,80848.301900,85973.088490,102001.798200,103983.2913,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Syrian Arab Republic,SYR,GDP per capita (current US$),NY.GDP.PCAP.CD,"186,0242872",198.934696,226.877838,237.936395,257.454145,247.714366,...,1071.234204,857.497867,664.341672,862.319063,1111.872092,1124.520554,537.090235,420.622705,NaN,NaN
239,Tonga,TON,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4125.425454,4117.931047,3978.437686,4367.256603,4649.613301,4878.978686,4605.970841,4425.971492,NaN,NaN
254,Venezuela,RB,VEN,GDP per capita (current US$),"NY,GDP,PCAP,CD",939.560806,954.355361,1006.879977,1060.570324,874.199411,...,12433.980790,15975.729380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,British Virgin Islands,VGB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Virgin Islands (U.S.),VIR,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,33045.364380,34007.352940,35324.974890,35365.069300,36663.208760,38633.529890,39411.045250,41976.008310,NaN,NaN

## Sélection d'une partie du DataFrame

On sélectionne les colonnes souhaitées en les ajoutant dans une liste.

In [54]:
# sélection des PIB 1960, 1980, 2000, 2020
df[['Country Name', '1960', '1980', '2000', '2020']]

,Country Name,1960,1980,2000,2020
0,Aruba,NaN,NaN,21026.167090,24008.127820
1,Africa Eastern and Southern,"141,3859554",720.771506,710.665706,1355.805923
2,Afghanistan,"62,36937451",291.649791,NaN,512.055098
3,Africa Western and Central,"107,0537061",709.848876,519.757395,1688.075575
4,Angola,NaN,712.369763,556.884244,1450.905112
...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,4310.934002
262,Yemen,"NY,GDP,PCAP,CD",NaN,421.723115,693.816504
263,South Africa,"529,5619227",3034.660366,3241.661396,5753.066494
264,Zambia,"228,5673985",678.774900,364.026145,956.831729
265,Zimbabwe,"276,6433633",947.367136,565.284390,1372.696674

## drop_duplicates

La méthode `drop_duplicates` supprime les valeurs en doubles et permet d'obtenir les enregistrents uniques.

In [55]:
#supprime les pays en double
df["Country Name"].drop_duplicates()

0                            Aruba
1      Africa Eastern and Southern
2                      Afghanistan
3       Africa Western and Central
4                           Angola
                  ...
261                         Kosovo
262                          Yemen
263                   South Africa
264                         Zambia
265                       Zimbabwe
Name: Country Name, Length: 264, dtype: object

## drop_na

La méthode drop_na supprime les lignes qui ont des valeurs nulles.

In [56]:
#garde uniquement les pays qui ont tous les PIBs renseignés
df.dropna()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
23,Bahamas,The,BHS,GDP per capita (current US$),"NY,GDP,PCAP,CD",1483.003682,1581.303980,1680.494849,1792.422274,1921.437235,...,26955.788930,28203.35568,29724.95334,29675.535890,30708.987020,31483.978840,32279.011360,23998.268020,28260.432550,31458.300810
44,Congo,Rep.,COG,GDP per capita (current US$),"NY,GDP,PCAP,CD",124.782359,139.995753,149.702467,150.738168,158.135593,...,3719.651036,3623.80746,2455.34791,2107.503024,2227.720139,2715.243105,2508.944783,2011.269479,2540.473212,2649.225022
96,Hong Kong SAR,China,HKG,GDP per capita (current US$),"NY,GDP,PCAP,CD",424.056554,436.754412,487.821134,565.727810,629.591526,...,38403.777710,40315.37395,42432.16197,43734.198070,46160.429790,48537.566890,48359.001200,46109.229990,49764.793120,48983.621720
126,Korea,Rep.,KOR,GDP per capita (current US$),"NY,GDP,PCAP,CD",158.274136,93.831383,106.159703,146.302493,123.606375,...,27179.517010,29252.93124,28737.43917,29280.440320,31600.735870,33447.156280,31902.416900,31721.298910,35142.264270,32422.574490

## fillna

La méthode `fillna` permet de remplacer les données manquantes.

In [57]:
# Remplacer les données manquantes par 0
df.fillna(0)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,26940.264110,28419.264530,28449.712950,29329.081750,30918.483580,31902.809820,24008.127820,29127.759380,33300.838820,0.000000
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,"141,3859554",144.342434,148.774835,157.047580,166.849791,177.769086,...,1725.332959,1554.167299,1444.003514,1625.286236,1558.307482,1507.982881,1355.805923,1545.613215,1644.062829,0.000000
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,"62,36937451",62.443703,60.950364,82.021738,85.511073,105.243196,...,626.512931,566.881133,523.053012,526.140801,492.090632,497.741429,512.055098,355.777826,0.000000,0.000000
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,"107,0537061",112.128417,117.814663,122.370114,130.700278,137.301801,...,2248.316255,1882.264038,1648.762676,1590.277754,1735.374911,1812.446822,1688.075575,1766.943618,1785.312219,0.000000
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,5011.984412,3217.339244,1809.709377,2439.374441,2540.508878,2191.347764,1450.905112,1927.474078,3000.444231,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,3902.530841,3520.782075,3759.472855,4009.353811,4384.188680,4416.029253,4310.934002,5269.783901,5340.268798,0.000000
262,Yemen,Rep.,YEM,GDP per capita (current US$),"NY,GDP,PCAP,CD",0.000000,0.000000,0.000000,0.000000,0.000000,...,1497.747941,1557.601406,1488.416269,1069.816998,893.716494,701.714869,693.816504,578.512010,543.637538,650.272218
263,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,"529,5619227",543.042224,560.699395,601.599951,642.688431,681.131111,...,6965.137897,6204.929901,5735.066787,6734.475153,7067.724165,6702.526617,5753.066494,7073.612754,6766.481254,0.000000
264,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,"228,5673985",216.274674,208.562685,209.453362,236.941713,296.022427,...,1724.576220,1307.909649,1249.923143,1495.752138,1475.199883,1268.120941,956.831729,1134.713454,1456.901570,0.000000
265,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,"276,6433633",279.332656,275.966139,277.532515,282.376856,294.893605,...,1407.034291,1410.329173,1421.787791,1192.107012,2269.177012,1421.868596,1372.696674,1773.920411,1676.821489,0.000000

## drop

La méthode `drop` permet de supprimer des lignes (axis = 0) and supprimer des colonnes (axis = 1).

In [58]:
#supprime la premièreet 5ème ligne
df.drop([0, 4], axis= 0)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,"141,3859554",144.342434,148.774835,157.047580,166.849791,177.769086,...,1725.332959,1554.167299,1444.003514,1625.286236,1558.307482,1507.982881,1355.805923,1545.613215,1644.062829,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,"62,36937451",62.443703,60.950364,82.021738,85.511073,105.243196,...,626.512931,566.881133,523.053012,526.140801,492.090632,497.741429,512.055098,355.777826,NaN,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,"107,0537061",112.128417,117.814663,122.370114,130.700278,137.301801,...,2248.316255,1882.264038,1648.762676,1590.277754,1735.374911,1812.446822,1688.075575,1766.943618,1785.312219,NaN
5,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4578.633208,3952.803574,4124.055390,4531.032207,5287.660801,5396.214243,5343.037704,6377.203096,6810.114041,NaN
6,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,45680.546940,38885.548590,39931.236260,40632.208980,42904.811590,41328.612390,37207.238870,42072.319420,41992.772780,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3902.530841,3520.782075,3759.472855,4009.353811,4384.188680,4416.029253,4310.934002,5269.783901,5340.268798,NaN
262,Yemen,Rep.,YEM,GDP per capita (current US$),"NY,GDP,PCAP,CD",NaN,NaN,NaN,NaN,NaN,...,1497.747941,1557.601406,1488.416269,1069.816998,893.716494,701.714869,693.816504,578.512010,543.637538,650.272218
263,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,"529,5619227",543.042224,560.699395,601.599951,642.688431,681.131111,...,6965.137897,6204.929901,5735.066787,6734.475153,7067.724165,6702.526617,5753.066494,7073.612754,6766.481254,NaN
264,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,"228,5673985",216.274674,208.562685,209.453362,236.941713,296.022427,...,1724.576220,1307.909649,1249.923143,1495.752138,1475.199883,1268.120941,956.831729,1134.713454,1456.901570,NaN
265,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,"276,6433633",279.332656,275.966139,277.532515,282.376856,294.893605,...,1407.034291,1410.329173,1421.787791,1192.107012,2269.177012,1421.868596,1372.696674,1773.920411,1676.821489,NaN

In [59]:
# supprime la colonne 2023
df.drop('2023', axis=1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,26514.868980,26940.264110,28419.264530,28449.712950,29329.081750,30918.483580,31902.809820,24008.127820,29127.759380,33300.838820
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,"141,3859554",144.342434,148.774835,157.047580,166.849791,177.769086,...,1736.849038,1725.332959,1554.167299,1444.003514,1625.286236,1558.307482,1507.982881,1355.805923,1545.613215,1644.062829
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,"62,36937451",62.443703,60.950364,82.021738,85.511073,105.243196,...,638.733185,626.512931,566.881133,523.053012,526.140801,492.090632,497.741429,512.055098,355.777826,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,"107,0537061",112.128417,117.814663,122.370114,130.700278,137.301801,...,2154.150832,2248.316255,1882.264038,1648.762676,1590.277754,1735.374911,1812.446822,1688.075575,1766.943618,1785.312219
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5061.349240,5011.984412,3217.339244,1809.709377,2439.374441,2540.508878,2191.347764,1450.905112,1927.474078,3000.444231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3704.562803,3902.530841,3520.782075,3759.472855,4009.353811,4384.188680,4416.029253,4310.934002,5269.783901,5340.268798
262,Yemen,Rep.,YEM,GDP per capita (current US$),"NY,GDP,PCAP,CD",NaN,NaN,NaN,NaN,NaN,...,1349.990610,1497.747941,1557.601406,1488.416269,1069.816998,893.716494,701.714869,693.816504,578.512010,543.637538
263,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,"529,5619227",543.042224,560.699395,601.599951,642.688431,681.131111,...,7441.230854,6965.137897,6204.929901,5735.066787,6734.475153,7067.724165,6702.526617,5753.066494,7073.612754,6766.481254
264,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,"228,5673985",216.274674,208.562685,209.453362,236.941713,296.022427,...,1840.320553,1724.576220,1307.909649,1249.923143,1495.752138,1475.199883,1268.120941,956.831729,1134.713454,1456.901570
265,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,"276,6433633",279.332656,275.966139,277.532515,282.376856,294.893605,...,1408.367810,1407.034291,1410.329173,1421.787791,1192.107012,2269.177012,1421.868596,1372.696674,1773.920411,1676.821489

## insert

La méthode `insert` permet d'ajouter une colonne.

In [60]:
# On insère la colonne 2024 à la fin du DataFrame
df.insert(len(df.columns), '2024', 100)

## Filter avec loc

La méthode `loc` permet de filtrer les données et obtenir un DataFrame avec les informations recherchées. Les opérations sur les nombres et les chaînes de texte fonctionnent avec `loc`.

In [61]:
#sélectionne la France
df.loc[df["Country Name"] == 'France']

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
77,France,FRA,GDP per capita (current US$),NY.GDP.PCAP.CD,"1333,881573",1430.434624,1585.735311,1758.856659,1928.999402,2060.299715,...,36652.92231,37062.53357,38781.04949,41557.85486,40494.89829,39179.74426,43671.30841,40886.25327,NaN,100

In [62]:
#sélectionne la France, el Japon et l'Argentine
df.loc[df["Country Name"].isin(['France', 'Japan', 'Argentina'])]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
9,Argentina,ARG,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,13789.06042,12790.26414,14613.03565,11795.16275,9963.674162,8500.837939,10650.86046,13650.60463,NaN,100
77,France,FRA,GDP per capita (current US$),NY.GDP.PCAP.CD,"1333,881573",1430.434624,1585.735311,1758.856659,1928.999402,2060.299715,...,36652.92231,37062.53357,38781.04949,41557.85486,40494.898290,39179.744260,43671.30841,40886.25327,NaN,100
119,Japan,JPN,GDP per capita (current US$),NY.GDP.PCAP.CD,"475,3190756",568.907743,639.640785,724.693762,843.616878,928.518849,...,34960.63938,39375.47316,38834.05293,39751.13310,40415.956760,40040.765510,40058.53733,34017.27181,NaN,100

In [63]:
# Séection du PIB de la France par habitant en 1960
df.loc[df["Country Name"] == 'France', ['1960']]

           1960
77  1333,881573

In [64]:
# sélection des pays avec un PIB par habitant supérieur à 50K$
df.loc[df['2022'] > 50000 ]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
8,United Arab Emirates,ARE,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,41525.13890,41054.53957,43063.96748,46722.26872,45376.17084,37629.17417,44332.34005,53707.98008,NaN,100
13,Australia,AUS,GDP per capita (current US$),NY.GDP.PCAP.CD,"1810,597443",1877.600224,1854.641890,1967.108991,2131.380300,2281.011956,...,56758.86920,49918.79393,53954.55349,57273.52048,55049.57192,51868.24756,60697.24544,65099.84591,NaN,100
14,Austria,AUT,GDP per capita (current US$),NY.GDP.PCAP.CD,"935,4604269",1031.815004,1087.834243,1167.000532,1269.412583,1374.532140,...,44195.81759,45307.58786,47429.15846,51466.55656,50067.58573,48789.49785,53517.89045,52084.68120,NaN,100
27,Bermuda,BMU,GDP per capita (current US$),NY.GDP.PCAP.CD,"1902,402085",1961.538135,2020.385929,2020.265212,2199.726968,2282.216573,...,102005.62560,106885.87850,111820.58150,113050.73690,116153.16610,107791.88640,111774.66910,118774.79070,NaN,100
35,Canada,CAN,GDP per capita (current US$),NY.GDP.PCAP.CD,"2259,250511",2240.433039,2268.585346,2374.498448,2555.111146,2770.361804,...,43596.13554,42315.60371,45129.42930,46548.63841,46374.15275,43562.43583,52515.19984,55522.44569,NaN,100
37,Switzerland,CHE,GDP per capita (current US$),NY.GDP.PCAP.CD,"1787,360348",1971.316323,2131.391652,2294.182847,2501.293190,2620.475547,...,83806.44760,82153.07454,82254.37693,85217.36915,84121.93103,85897.78433,93446.43445,93259.90572,NaN,100
52,Cayman Islands,CYM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,77295.84529,78858.28026,81255.11246,85231.77425,89846.32122,83897.50544,88475.60047,99624.88544,NaN,100
58,Denmark,DNK,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,53254.85637,54663.99837,57610.09818,61591.92887,59592.98069,60836.59241,69268.65180,67790.05399,NaN,100
75,Finland,FIN,GDP per capita (current US$),NY.GDP.PCAP.CD,"1179,353011",1327.427224,1411.702398,1522.319242,1707.503938,1882.086858,...,42801.90812,43814.02651,46412.13648,49987.62616,48629.85823,49169.71934,53504.69365,50871.93045,NaN,100
78,Faroe Islands,FRO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,1594.522710,...,52726.68738,56833.91654,59328.23766,62576.80164,63203.74478,62234.96868,69108.20658,66979.27732,NaN,100
111,Ireland,IRL,GDP per capita (current US$),NY.GDP.PCAP.CD,"685,6147124",739.276406,797.006288,852.135302,965.135423,1023.773726,...,62179.26427,62784.06569,70150.73702,79446.93911,80848.30190,85973.08849,102001.79820,103983.29130,NaN,100
114,Iceland,ISL,GDP per capita (current US$),NY.GDP.PCAP.CD,"1414,982269",1418.125870,1562.230730,1831.705656,2297.920643,2723.520950,...,52951.68151,61987.92636,72010.14903,74452.18907,68452.23622,58848.41812,68710.24420,73466.77867,NaN,100
115,Israel,ISR,GDP per capita (current US$),NY.GDP.PCAP.CD,"1229,174748",1436.384439,1094.635848,1257.811405,1375.892256,1429.314605,...,36206.52222,37690.47395,41114.78171,42406.84543,44452.23256,44846.79160,52129.51596,54930.93881,NaN,100
144,Luxembourg,LUX,GDP per capita (current US$),NY.GDP.PCAP.CD,"2242,015817",2222.366366,2311.798849,2441.038555,2755.633117,2780.092719,...,105462.01260,106899.29350,110193.21380,116786.51170,112726.43970,116905.37040,133711.79440,125006.02180,NaN,100
149,Monaco,MCO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,170338.68040,174412.49450,173611.68790,193968.09010,199382.83860,182537.38740,235132.78420,240862.18240,NaN,100
170,North America,NAC,GDP per capita (current US$),NY.GDP.PCAP.CD,"2939,4432",2991.592897,3155.097538,3283.141453,3480.426945,3729.969704,...,55452.42138,56312.43488,58423.88588,61174.77734,63203.37389,61483.00075,68399.10275,74160.99677,NaN,100
176,Netherlands,NLD,GDP per capita (current US$),NY.GDP.PCAP.CD,"1068,784587",1159.392357,1240.677894,1328.036649,1541.947365,1708.096356,...,45193.40322,46039.10593,48675.22234,53044.53244,52476.27325,52162.57012,58727.87055,57025.01246,NaN,100
177,Norway,NOR,GDP per capita (current US$),NY.GDP.PCAP.CD,"1441,75566",1560.324931,1667.247430,1775.582655,1937.884614,2164.468823,...,74809.96580,70867.36100,76131.83840,82792.84271,76430.58895,68340.01810,93072.89251,108729.18690,NaN,100
198,Post-demographic dividend,PST,GDP per capita (current US$),NY.GDP.PCAP.CD,"1385,357553",1447.311654,1543.961290,1643.816449,1773.059606,1905.283705,...,40636.34720,41363.38587,42968.28953,45382.76395,45700.06080,44514.12268,49527.66013,50482.11313,NaN,100
200,Qatar,QAT,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,66984.91020,58467.23557,59407.69805,66264.08117,62827.39695,52315.66008,66858.74172,87661.45015,NaN,100
208,Singapore,SGP,GDP per capita (current US$),NY.GDP.PCAP.CD,"428,0561834",449.148137,472.082740,511.202235,485.530686,516.531929,...,55645.60686,56895.65831,61164.89736,66836.52200,66070.48681,61273.99166,77710.08924,82807.62906,NaN,100
223,Sweden,SWE,GDP per capita (current US$),NY.GDP.PCAP.CD,"2114,002973",2288.921701,2468.694589,2657.022505,2941.048899,3206.099170,...,51545.48361,51965.15715,53791.50873,54589.06039,51939.42974,52837.90398,61417.68088,56424.28470,NaN,100
251,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,"3007,123445",3066.562869,3243.843078,3374.515171,3573.941185,3827.527110,...,56762.72945,57866.74493,59907.75426,62823.30944,65120.39466,63528.63430,70219.47245,76329.58227,NaN,100

In [65]:
#Sélection des pays avec un PIB supérieur à 50K$ en 2021 et qui commencent par la lettre A
df.loc[(df['2021']> 50000) & (df['Country Name'].str.startswith('A'))]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
13,Australia,AUS,GDP per capita (current US$),NY.GDP.PCAP.CD,"1810,597443",1877.600224,1854.641890,1967.108991,2131.380300,2281.011956,...,56758.86920,49918.79393,53954.55349,57273.52048,55049.57192,51868.24756,60697.24544,65099.84591,NaN,100
14,Austria,AUT,GDP per capita (current US$),NY.GDP.PCAP.CD,"935,4604269",1031.815004,1087.834243,1167.000532,1269.412583,1374.532140,...,44195.81759,45307.58786,47429.15846,51466.55656,50067.58573,48789.49785,53517.89045,52084.68120,NaN,100